<a href="https://colab.research.google.com/github/Amit10311/CppCoreGuidelines/blob/master/Part%202%20Bayesian%20Thinking/4_Program_Prob_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!sudo apt-get install texlive-xetex texlive-fonts-recommended texlive-generic-recommended

In [ ]:
!jupyter nbconvert --to pdf 4_Program_Prob_in_Python.ipynb

# **01. Python Variables**

In [ ]:
# Here we assign a value of 0.5 to the variable named p_heads
# and then use a print statement.
p_heads = 0.75
print("The probability of heads is", p_heads)

# Here we assign a value to p_tails. This is done by taking the 
# compli
p_tails = 1.0 - p_heads
print("The probability of tails is", p_tails)

# **02. Data Types**

* Explore how 
  1. **Strings**
  2. **Numbers**
  3. **Booleans**
 
 are defined in Python.

* Read through the code and try to predict what each cell's output will look like before you run that cell.

In [ ]:
# 1. STRINGS

# In this section you define several variables. These are all defined
# to be strings. Note that there are several ways to define a string.

print("STRINGS")      # Prints the word STRINGS as the output

# 1.1 Declaring strings with double quotes
my_string_1 = "hello"

# 1.2 Declaring strings with single quotes
my_string_2 = 'world'

# Use either three double quotes or three single quotes
# note in this case you can have single quotes of either type
# inside the string. This is a powerful feature!
my_multiline_string = """

Dear World,

Hello. I am a multiline python string.
I'm enclosed in triple quotes. I'd write
them here, but that would end the string!

I know! I'll use a slash as an escape character.

Triple quotes look like this: \"\"\" 

Sincerely,
Python
"""

newline_character = "\n"
print("Now run the cell below to see these strings printed!")

STRINGS
Now run the cell below to see these strings printed!

In [ ]:
print(my_string_1, my_string_2)

print(my_multiline_string)

print(newline_character)

print("-----------")

hello world


Dear World,

Hello. I am a multiline python string.
I'm enclosed in triple quotes. I'd write
them here, but that would end the string!

I know! I'll use a slash as an escape character.

Triple quotes look like this: """

Sincerely,
Python



-----------

In [ ]:
# 2. NUMBERS 
print("NUMBERS")
my_float    = 0.5
my_integer  = 7
my_negative = -3.5 
my_fraction = 1/2

# 3. BOOLEANS
# what do you think THIS line of code will assign to the variable
# does_half_equal_point_five?

does_half_equal_point_five = (my_fraction == my_float)

NUMBERS

In [ ]:
print("The absolute value of", my_negative, "is", abs(my_negative))

print(my_integer, "squared is equal to", my_integer ** 2)

print("Does", my_fraction, "equal", my_float, "?", does_half_equal_point_five)

The absolute value of -3.5 is 3.5
7 squared is equal to 49
Does 0.5 equal 0.5 ? True

# **3. Python Control Flow**

How the flow of program execution can be controlled using statements like **
 1. **if**
 2. **elif** 
 3. **else**

In [ ]:
Y = 7
# Check that 5 < Y and Y < 10

if 5 < Y < 10:
    print("Y is between 5 and 10")
else: 
    print("Y is not between 5 and 10")

Y is between 5 and 10

In [ ]:
X = 6
if X < 5:
    print("X is a small number")
elif X < 10:
    print("X is a medium sized number")
else:
    print("X is a big number")

X is a medium sized number

In [ ]:
if True:
    print("True is always True!")

True is always True!

In [ ]:
if False:
    print("This will never be printed")
else:
    print("Print else")

Print else

# **4. For Loops**

* The code below demonstrates two ways of looping through the numbers 0,1,2,3,4,5

In [ ]:
print("1 - demonstrating for loop")
# Python allows you loop over a list

for i in [0,1,2,3,4,5]:
    print(i)

1 - demonstrating for loop
0
1
2
3
4
5

In [ ]:
print("2 - demonstrating for loop with range()")
# If you want to loop until a specified number, use range(number)

for i in range(6):
    print(i)

2 - demonstrating for loop with range()
0
1
2
3
4
5

## **The range function**
The **`range`** function is one you'll probably use a lot - often in conjunction with a for loop. 
* The code below shows how you can use the range function to print out a multiplication table.

* Read through the code below. What is the biggest number you expect to see printed?

In [ ]:
# This is an example of a nested loop
# Nested loops are loops inside of loops
# the left_num will increment slower than the right_num

# How many times will right_num perform full loops? 25 times 

for left_num in range(3):
    for right_num in range(4):
        product = left_num * right_num
        print(left_num, "x", right_num, "=", product)

0 x 0 = 0
0 x 1 = 0
0 x 2 = 0
0 x 3 = 0
1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6

# **05. Lists and Loops**

* Shows some ways of using python **lists** (known as **arrays** in many languages).
* Note how these lists are "sliced" from index i to j using my_list **`[i:j]`** notation

## **5.1. How to print a list structure**

In [9]:
my_list = [1, 2, 3, "a", "b", "c"]

print("my_list is:", my_list)

my_list is: [1, 2, 3, 'a', 'b', 'c']

## **5.2. Prints each element of a list individually**

In [ ]:
print("Looping through a list...")
for item in my_list:
    print("item is", item)

Looping through a list...
item is 1
item is 2
item is 3
item is a
item is b
item is c

## 5.3. Prints the number of elements in a list

In [10]:
print("The len function is important!")

num_elements = len(my_list)
print("my_list has", num_elements, "elements \n")

# 2. Could also be done with out the intermediate variable

print("The len function is important!")
print("my_list has", len(my_list), "elements")

The len function is important!
my_list has 6 elements

The len function is important!
my_list has 6 elements

## **5.4. Using range to loop through a list by index**

In [11]:
print("A less great way to loop through a list... \n")

for index in range(len(my_list)):
    item = my_list[index] # accessing an element in a list!   

    print("item is", item)

A less great way to loop through a list...

item is 1
item is 2
item is 3
item is a
item is b
item is c

## **5.5. Looping through a partial list**

In [12]:
print("Slicing a list from beginning... \n ")

for item in my_list[:3]:
    print("item is", item)

Slicing a list from beginning...

item is 1
item is 2
item is 3

In [13]:
# 2. Looping through a partial list again

print("Slicing a list to the end... \n ")

for item in my_list[3:]:
    print("item is", item)

Slicing a list to the end...

item is a
item is b
item is c

In [14]:
# 3. Looping through a partial list again

print("Slicing a list in the middle... \n")

for item in my_list[2:4]:
    print("item is", item)

Slicing a list in the middle...

item is 3
item is a

## **5.6. Enumerating a list...**

In [17]:
print("Enumerating a list... \n")

for i, item in enumerate(my_list):
  
    print("item number", i, "is", item)

Enumerating a list...

item number 0 is 1
item number 1 is 2
item number 2 is 3
item number 3 is a
item number 4 is b
item number 5 is c

In [31]:
print("Another way to enumerate using a list 'method'... \n ")

for item in my_list:
    index = my_list.index(item)
    
    print("item", item, "has index", index)

Another way to enumerate using a list 'method'...

item 1 has index 0
item 2 has index 1
item 3 has index 2
item a has index 3
item b has index 4
item c has index 5

In [30]:
my_list.reverse()
my_list.sort()
my_list.count()

# **06. List Comprehensions**

## **1. The preferred 'pythonic' way to create a list**

In [34]:
Numbers_0_to_9 = [x for x in range(10)]

print("Numbers 0 to 9 :", numbers_0_to_9)

Numbers 0 to 9 : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
# 2. The above is equivalent to the following just more compact:

numbers_0_to_9 = []
for x in range(10):
    numbers_0_to_9.append(x)
    
print("Numbers 0 to 9", numbers_0_to_9)

Numbers 0 to 9 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## **3. You can also choose to do computation / flow control when generating**

In [36]:
# lists

squares = [x * x for x in range(10)]

print("Squares    :   ", squares)

Squares    :    [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
# 4. note - this example uses the "modulo" operator

odds = [x for x in range(10) if x % 2 == 1]

print("Odds          ", odds)

Odds           [1, 3, 5, 7, 9]

## **6.2 Advanced List Comprehensions**

This example also uses a data type called a **`namedtuple`** which is similar to a **`struct`** data type in other languages.

In [41]:
# Import the module collections and be able to access namedtuple
# wihtout having to write collections.namedtuple each time.

from collections import namedtuple

# Create a tuple of class 'Person'
Person = namedtuple("Person", ["name", "age", "gender"])

# Build a list of people by using Person
people = [
    Person("Andy", 30, "m"),
    Person("Ping", 1, "m"), 
    Person("Tina", 32, "f"),
    Person("Abby", 14, "f"),
    Person("Adah", 13, "f"),
    Person("Sebastian", 42, "m"),
    Person("Carol" , 68, "f"),
]

# first, let's show how this namedtuple works.
# Get the first entry in the list (which is Andy from above)
andy = people[0]

# From here, you can access andy like it was a class with attributes
# name, age, and gender (as seeon from the namedtuple)
print(" name:  ", andy.name)
print("\n age:   ", andy.age)
print("\n gender:", andy.gender)

 name:   Andy

 age:    30

 gender: m

In [43]:
# 1. now let's show what we can do with a list comprehension

male_names = [person.name for person in people if person.gender=="m"]

print("Male names:", male_names)

Male names: ['Andy', 'Ping', 'Sebastian']

In [44]:
# 2. Create a list of names where there age 

teen_names = [p.name for p in people if 13 <= p.age <= 18 ]

print("Teen names:", teen_names)

Teen names: ['Abby', 'Adah']